@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

  --light-shade: #F2F0F2;
  --main-color: #2F84A8;
  --dark-accent: #263F5B;
}


body {
  background: var(--light-shade);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .section-min-height {
    min-height: calc(100vh - 68px);
  }
}
